@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    text-decoration: none;
}

body {
    background-color: black;
    animation: bgcolor ease 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
    animation: fadeIn 1s ease;
    letter-spacing: 50px;
    text-indent: 50px;
}

section h1,
section h1 > a {
    position: absolute;
	color: rgb(255, 255, 255, 100);
    transition: color 0.5s ease-in-out;
	font-size: 5em;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section h1,
section h1 > a:hover {
    color: rgb(0, 0, 0);
    transition: color 0.5s ease-in-out;
    /*background: url(day.jpg) 50% 50%; 
    background-size: cover; 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-clip 0.5s ease;
    transition: background 0.5s ease;*/
}


section h2,
section h2 > a {
    position: absolute;
	color: rgb(255, 255, 255, 100);
	font-size: 5em;
	top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
}

section h2,
section h2 > a:hover {
    color: black; 
    transition: color 0.5s ease-in-out;
/*
    background: url(night.jpg) 50% 50%; 
    background-size: cover; 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-clip 0.5s ease;
    transition: background 0.5s ease;
}*/


@keyframes bgcolor {
    0% {background-color: rgb(151, 69, 54);}
    20% {background-color: rgb(139, 44, 44);}
    40% {background-color: rgb(139, 46, 82);}
    60% {background-color: rgb(93, 39, 145);}
    80% {background-color: rgb(52, 81, 160);}
    100% {background-color: rgb(145, 92, 43);}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}
